
<p>organization works!</p>
<ag-grid-angular
  style="width: 50%; height: 200px; padding: 1%;"
  class="ag-theme-alpine"
  [rowData]="rowDataModA"
  [columnDefs]="colDefs"
></ag-grid-angular>
<ag-grid-angular
  style="width: 50%; height: 200px; padding: 1%;"
  class="ag-theme-alpine"
  [rowData]="rowDataModB"
  [columnDefs]="colDefs"
></ag-grid-angular>
<ag-grid-angular
  style="width: 50%; height: 200px; padding: 1%;"
  class="ag-theme-blue"
  [rowData]="rowDataModC"
  [columnDefs]="colDefs"
></ag-grid-angular>
<router-outlet></router-outlet>