<h3 class="text-danger text-center">Press d for deleteing a row </h3>
<div class="container mx-auto" style="max-width: 80%;">
  <div class="row">
    <div class="col-md-4">
      <ag-grid-angular
      style="width: 100%; height: 200px; padding: 1%;"
      class="curstom-font-size custom-back"
      [rowData]="rowDataModA"
      [columnDefs]="colDefs"
      [theme]="theme1"
      (cellKeyDown)="onCellKeyDown($event)"
    ></ag-grid-angular>
    </div>
    <div class="col-md-4">
      <ag-grid-angular
      style="width: 100%; height: 200px; padding: 1%;"
      class="ag-theme-alpine"
      [rowData]="rowDataModB"
      [columnDefs]="colDefs"
      [theme]="theme1"
      (cellKeyDown)="onCellKeyDown($event)"
    ></ag-grid-angular>
    </div>
    <div class="col-md-4">
      <ag-grid-angular
      style="width: 100%; height: 200px; padding: 1%;"
      class="ag-theme-alpine"
      [rowData]="rowDataModC"
      [columnDefs]="colDefs"
      [theme]="theme1"
      (cellKeyDown)="onCellKeyDown($event)"
    ></ag-grid-angular>
    </div>
    <div class="row">
      <div class="col-md-10">
        <!--Nothing to do -->
      </div>
      <div class="col-md-2 text-end">
        <button (click)="addToogleButton()" class="btn btn-outline-success" routerLink={{toAdd}}>{{addButton}}</button>
      </div>
      
    </div>
    

    
  </div>
  


</div>

<router-outlet></router-outlet>