<div class="container">
    <div class="row">
        <div class="col-md-4 p-2">
            <label for="course" class="form-label text-warning">Course</label>
            <input
                type="text"
                id="course"
                class="form-control"
                [(ngModel)]="course.course"
                name="course"
                placeholder="Enter course name"
                required/>
        </div>
        <div class="col-md-4">
            <!--Empty for spacing-->
        </div>
        <div class="col-md-4 p-2">
            <label for="course" class="form-label text-warning">TdSubmission</label>
            <input
                type="date"
                id="course"
                class="form-control"
                [(ngModel)]="course.tdSubmission"
                name="course"
                placeholder="Enter module name"
                required/>
        </div>
        <div class="col-md-4 p-2">
            <label for="course" class="form-label text-warning">Module</label>
            <input
                type="text"
                id="course"
                class="form-control"
                [(ngModel)]="course.module"
                name="course"
                placeholder="Enter course name"
                required/>
        </div>
        <div class="col-md-4">
            <!--Empty for spacing-->
        </div>
        <div class="col-md-4 p-2">
            <label for="course" class="form-label text-warning">NextExam</label>
            <input
                type="date"
                id="course"
                class="form-control"
                [(ngModel)]="course.nextExam"
                name="course"
                placeholder="Enter course name"
                required/>
        </div>
        <div class="col-md-4">
            <!--Empty for spacing-->
        </div>
        <div class="col-md-4">
            <!--Empty for spacing-->
        </div>
        <div class="col-md-4 p-2">
            <label for="course" class="form-label text-warning">Project</label>
            <input
                type="date"
                id="course"
                class="form-control"
                [(ngModel)]="course.project"
                name="course"
                placeholder="Enter course name"
                required/>
        </div>
        
        <div class="col-md-12 text-end">
            <button (click)="createCourse()" class="btn btn-outline-success">Add deadline</button>
        </div>
    </div>
</div>
