
<div class="container-md">
    <div class="row">
        <div class="col-md-4">
            <label for="course" class="form-label">Course</label>
            <input
                type="text"
                id="course"
                class="form-control"
                [(ngModel)]="course.course"
                name="course"
                placeholder="Enter course name"
                required/>
        </div>
        <div class="col-md-4 auto text-auto">
            <!-- Display the Object 
            <div>
                <h4>Current Object:</h4>
                <pre>{{ course | json }}</pre>
            </div>-->
        </div>
        <div class="col-md-4 auto text-auto">
            <!-- Display the Object -->
            <div>
                <h4>Current Object:</h4>
                <pre>{{ course | json }}</pre>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="module" class="form-label">Module</label>
            <input
                type="text"
                id="module"
                class="form-control"
                [(ngModel)]="course.module"
                name="module"
                placeholder="Enter module name"
                required/>
        </div>
        
    </div>
    <div class="col-md-12 text-end">
        <button (click)="createCourse()" class="btn btn-outline-success">test</button>
    </div> 
</div>

    

    
    
    
    

  